<div class="container col s12">
    <!--Botão novo registro-->
    <div>
         <a [routerLink]="['/novo']" class="btn-floating btn-large cyan pulse right">
             <i class="material-icons">add</i>
         </a>
    </div>
      
    <h5>{{title}}</h5> 
    <!--Tabela de registros-->
    <table class="card-panel highlight">
      <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Sku</th>
            <th>Preço</th>
            <th>Excluir</th>
            <th>Editar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of dados">

          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.sku}}</td>
          <td>{{data.price | currency:'BRL':true}}</td>
          <td>
              <a class="btn-floating cyan pulse" (click)="excluir(data.id)">
                 <i class="material-icons">delete_forever</i>
              </a>
          </td>
          <td>
            <a [routerLink]="['/editar', data.id]" class="btn-floating cyan pulse">
                 <i class="material-icons">edit</i>
            </a>
        </td>

        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
